.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      h3
      span.ion-jet
      small.muted
      | From Warfighter to Crimefighter :
      | : Mapping the Militarization of Law Enforcement in the United States
