extends layout

block content
  
#masthead
  .container
    .row
      .col-md-7
        h1
          | Blog
          p.lead Catchy Subtitle Here
      .col-md-5
        .well.well-lg
          .row
            .col-sm-12
              | Ad Space
  // /cont
.container
  .row
    .col-md-12
      .panel
        .panel-body
          // /stories
          .row
            br
            .col-md-2.col-sm-3.text-center
              a.story-img(href='#')
                img.img-circle(src='//placehold.it/100', style='width:100px;height:100px')
            .col-md-10.col-sm-9
              h3 Post Entry Title
              .row
                .col-xs-9
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    | Aliquam in felis sit amet augue.
                  p.lead
                    button.btn.btn-default Read More
                  p.pull-right
                    span.label.label-default keyword
                    span.label.label-default tag
                    span.label.label-default post
                  ul.list-inline
                    li
                      a(href='#') 2 Days Ago
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-comment
                        | 4 Comments
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-share
                        | 34 Shares
                .col-xs-3
              br
              br
          hr
          .row
            br
            .col-md-2.col-sm-3.text-center
              a.story-img(href='#')
                img.img-circle(src='//placehold.it/100', style='width:100px;height:100px')
            .col-md-10.col-sm-9
              h3 Story Title Here
              .row
                .col-xs-9
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    | Aliquam in felis sit amet augue.
                  p.lead
                    button.btn.btn-default Read More
                  p.pull-right
                    span.label.label-default keyword
                    span.label.label-default tag
                    span.label.label-default post
                  ul.list-inline
                    li
                      a(href='#') 3 Days Ago
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-comment
                        | 1 Comments
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-share
                        | 34 Shares
                .col-xs-3
              br
              br
          hr
          .row
            br
            .col-md-2.col-sm-3.text-center
              a.story-img(href='#')
                img.img-circle(src='//placehold.it/100', style='width:100px;height:100px')
            .col-md-10.col-sm-9
              h3 Post Heading Here
              .row
                .col-xs-9
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    | Aliquam in felis sit amet augue.
                  p.lead
                    button.btn.btn-default Read More
                  p.pull-right
                    span.label.label-default keyword
                    span.label.label-default tag
                    span.label.label-default post
                  ul.list-inline
                    li
                      a(href='#') 5 Days Ago
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-comment
                        | 0 Comments
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-share
                        | 45 Shares
                .col-xs-3
              br
              br
          hr
          .row
            br
            .col-md-2.col-sm-3.text-center
              a.story-img(href='#')
                img.img-circle(src='//placehold.it/100', style='width:100px;height:100px')
            .col-md-10.col-sm-9
              h3 Another Entry Title
              .row
                .col-xs-9
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    | Aliquam in felis sit amet augue.
                  p.lead
                    button.btn.btn-default Read More
                  p.pull-right
                    span.label.label-default keyword
                    span.label.label-default tag
                    span.label.label-default post
                  ul.list-inline
                    li
                      a(href='#') 1 Week Ago
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-comment
                        | 4 Comments
                    li
                      a(href='#')
                        i.glyphicon.glyphicon-share
                        | 34 Shares
                .col-xs-3
              br
              br
          hr
          // /stories
          a.btn.btn-primary.pull-right.btnNext(href='/')
            | More
            i.glyphicon.glyphicon-chevron-right
